<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807728570268-l5gi6c3al23mmbqmv9ffa0bafkj5g5g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807728570268-l5gi6c3al23mmbqmv9ffa0bafkj5g5g5</string>
	<key>API_KEY</key>
	<string>AIzaSyBPE-hF0dU4jFNiBCaMsS9K9MY2CZGhAKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>807728570268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edward-kim.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-b551b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-b551b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807728570268:ios:1561eb9bbe5e8de7aeb259</string>
</dict>
</plist>